<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-equipe-heading" jhiTranslate="gestionPlateauApp.equipe.home.createOrEditLabel">Create or edit a Equipe</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionPlateauApp.equipe.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionPlateauApp.equipe.nbrJoueurs" for="field_nbrJoueurs">Nbr Joueurs</label>
                    <input type="number" class="form-control" name="nbrJoueurs" id="field_nbrJoueurs"
                           formControlName="nbrJoueurs"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionPlateauApp.equipe.groupe" for="field_groupe">Groupe</label>
                    <select class="form-control" name="groupe" formControlName="groupe" id="field_groupe">
                        <option value="A">{{ 'gestionPlateauApp.Groupe.A' | translate }}</option>
                        <option value="B">{{ 'gestionPlateauApp.Groupe.B' | translate }}</option>
                        <option value="C">{{ 'gestionPlateauApp.Groupe.C' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
